Client_Java_WS_TP1/src/main/java/mypackage/BanqueWS3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="getcompte">
<part name="parameters" element="tns:getcompte"/>
</message>
<message name="getcompteResponse">
<part name="parameters" element="tns:getcompteResponse"/>
</message>
<message name="listeComptes">
<part name="parameters" element="tns:listeComptes"/>
</message>
<message name="listeComptesResponse">
<part name="parameters" element="tns:listeComptesResponse"/>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://ws/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://ws/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="getcompte">
<input wsam:Action="http://ws/BanqueService/getcompteRequest" message="tns:getcompte"/>
<output wsam:Action="http://ws/BanqueService/getcompteResponse" message="tns:getcompteResponse"/>
</operation>
<operation name="listeComptes">
<input wsam:Action="http://ws/BanqueService/listeComptesRequest" message="tns:listeComptes"/>
<output wsam:Action="http://ws/BanqueService/listeComptesResponse" message="tns:listeComptesResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>